<div layout="row" class="dialogAbstract" layout-align="space-between center">
    <div layout-gt-sm="row" class="dialogTitle">
        {{configMessageDialog.titleMessageDialog}}
    </div>
</div>

<div style="padding: 0 10 0 10" ng-show="configMessageDialog.message">
    <p>{{configMessageDialog.message}}</p>
</div>

<div ng-if="configMessageDialog.dialogYesNoMessage.show" layout-gt-sm="row" layout-align="space-between center">
    <div flex></div>
    <md-button class="md-raised" ng-click="configMessageDialog.dialogYesNoMessage.noAction()"  style="height:20px" md-colors="{color: 'red'}">Nein</md-button>
    <md-button class="md-raised" ng-click="configMessageDialog.dialogYesNoMessage.yesAction()" style="height:20px" md-colors="{color: 'green'}">Ja</md-button>
</div>

<div ng-if="configMessageDialog.dialogLizenzMessage.show">
    <message-lizenz />
</div>

<div ng-if="configMessageDialog.dialogUserMessage.show">
    <message-user />
</div>

<div ng-if="configMessageDialog.dialogChangelog">
    <message-changelog />
</div>
