<md-content >
        <div class="page">
          <div layout-gt-sm="row" class="mainPage" layout-align="space-between center">
             
             <input flex-gt-sm class="css-input" placeholder="Search..." ng-model="searchHostServer" ng-change="setHardwarePage()">

          </div>
          
           <div style="background:#084B8A;color:#ffffff;padding:5px;margin:0 0 15 0">
		 	<div class="ng-scope layout-row " style="height: 23px">
				<div style="padding-right: 10px; padding-left: 10px; font-size: 14px">Seite
				{{changelogPage}} von {{changelogMaxPage}} (Anzahl: {{aktivChangelogShow}})</div>
				<button class="buttonView buttonViewPrev" ng-click="prevPage('changelog')">Prev</button>
				<button class="buttonView buttonViewNext" ng-click="nextPage('changelog')">Next</button>
				<label style="padding-right: 10px; padding-left: 10px; font-size: 14px">Anzahl pro Seite: 
				<select ng-Model="changelogRows">
					<option ng-repeat="rows in hardwareRowsList" value="{{ rows.value }}">{{rows.value}}</option>
				</select>
				</label>
			</div>
		   </div>
            
            <div class="ng-scope layout-row " style="padding-left:10px;border-bottom: 5px solid #E6E6E6;">
                <div flex="15" style="font-size:14px">Titel</div>
                <div flex="10" style="font-size:14px">Datum</div>
                <div flex="15" style="font-size:14px">System</div>
                <div flex style="font-size:14px">Changelog</div>
            </div>
            
            <md-list ng-cloak>
                <md-list-item ng-repeat="changelogData in ctrl.getChangeLogList()"  ng-click="showChangelog(changelogData)" class="md-1-line">
                    <div flex="15" class="md-list-item-text" layout="column">
                        {{ changelogData.title }}
                    </div>
                    <div flex="10" class="md-list-item-text" layout="column">
                        {{ changelogData.date }}
                    </div>
                    <div flex="15" class="md-list-item-text" layout="column">
                        {{ changelogData.system }}
                    </div>
                    <div flex class="md-list-item-text" layout="column">
                        {{ changelogData.changelog}}
                    </div>
                </md-list-item>
            </md-list>
	</div>
    </md-content>