<div class="page">
<md-tabs md-dynamic-height="" md-dynamic-width="" md-border-bottom="">
 <md-tab label="Software">
    <div layout-gt-sm="row" class="mainPage" layout-align="space-between center">

         <input flex-gt-sm class="css-input" placeholder="Search..." ng-model="searchHostClient" ng-change="setClientsPage()">

         <md-checkbox md-no-ink ng-model="showAllClients"  ng-change="setClientsPage()" class="md-primary" >
            {{translation.default.showAll}}
         </md-checkbox>

      </div>

    <div class="ng-scope layout-row " style="padding-left:10px">
           <div flex="10" style="font-size:14px">{{translation.infoTable.Software}}</div>
           <div flex="80" style="font-size:14px">{{translation.infoTable.Beschreibung}}</div>
           <div flex="5"  style="font-size:14px">{{translation.infoTable.Standard}}</div>
           <div flex="5"  style="font-size:14px">{{translation.infoTable.Aktiv}}</div>
    </div>
    <hr />

    <md-list ng-cloak>
       <md-list-item ng-repeat="sw in ctrl.softwareService.getSoftware()" class="md-1-line">
           <div flex="10">
               <p>{{ sw.displayname }}</p>
           </div>
           <div flex="70">
               <p>{{ sw.description }}</p>
           </div>
           <div flex="10" >
              <md-checkbox class="md-secondary" ng-model="sw.defaultsoftware"></md-checkbox>
           </div>
           <div flex="10">
              <md-checkbox class="md-secondary" ng-model="sw.distribute"></md-checkbox>
           </div>
       </md-list-item>
    </md-list>

    <div ng-show="hardwareClientViewPages">
        <hr />
        <div class="ng-scope layout-row " style="padding-left:10px">
                <div flex="10" class="flex "><md-button class="md-raised" style="margin-bottom:10px" ng-click="prevPage('client')" md-colors="{color: 'green'}">Prev</md-button></div>
                <div flex="80" style="vertical-align: middle;text-align:center"><h3>Seite {{clientPage}} von {{clientMaxPage}}</h3></div>
                <div flex="10 " class="flex "><md-button class="md-raised" style="margin-bottom:10px" ng-click="nextPage('client')" md-colors="{color: 'green'}">Next</md-button></div>
        </div>
     </div>
 </md-tab>
</md-tabs>
  </div>