.page-container {
	padding: 32px;
	background-color: rgba(0, 0, 0, 0);
}

html,body {
	background-image: url("/NetView/static/img/hintergund.jpeg");
	background-repeat: no-repeat;
	background-color: #ffffff;
	background-attachment: fixed;
	background-size: 100% auto;
}

.page {
	background-color: rgb(8,75,138, 0.7);
	position: absolute;
	padding: 35px;
	top: 40%;
	left: 45%;
	width: 200px;
	margin-top: -75px;
	margin-left: -100px;
	
	border-radius: 10px;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 200px;
	height: 100px;
	text-align: center;
	padding-top: 25px;
	margin: 10px;
}

.dragover {
	border: 5px dashed blue;
}

.css-input {
     padding: 8px;
     width : 100%;
     font-size: 14px;
     border-width: 0px;
     margin: 5px;
     border-color: #ffffff;
     background-color: #FFFFFF;
     border-style: solid;
     border-radius: 5px;
     
}
 .css-input:focus {
     outline:none;
}