body, html {
	height: 100%;
	
}


.menueLeiste {
	background-color:#084B8A;
	border-bottom: 10px solid #E6E6E6;
}

.css-input {
     padding: 7px;
     font-size: 14px;
     border : 0px;
     border-bottom: 1px;
     color: #084B8A;
     border-style: solid;
     margin:8px;
}

.css-input:focus {
     outline:none;
}

.menue {
	color: white;
	font-size:14px;
	padding: 12px;
}

.menue:hover {
	cursor: pointer;
	background-color:#045FB4;
}

.shortcut {
	height: 60px;
}

.shortcutImg {
	width : 25px;
	height:25px;
	vertical-align:middle;
}

.dialog {
	min-width: 600px;
}

.dialogAbstract {
	background-color:#084B8A;
	border-bottom: 5px solid #E6E6E6;
	color:white;
	height:60px;
}

.dialogTitle {
	margin:10px;
	font-size:16px;
}

.dialogTitleImg {
	width: 30px;
	height: 30px;
	vertical-align:middle;
	margin-right:15px;
}

.dialogAbstractAddIcon {
	width:30px;
	height:30px; 
	vertical-align:middle;
	margin-right:10px;
}

.dialogAbstractAddIcon:focus {
	outline: none;
}

.dialogAbstractAddIcon:hover {
	cursor: pointer;
}

.mainPageSearch {
	
}

.mainPage {
	height: 70px;
	padding: 5 5 0 0;
	width:100%;
}

.mainPageShow {
  margin-left:5px;	
}


.listdemoListControls md-list-item>p, .listdemoListControls md-list-item>.md-list-item-inner>p,
	.listdemoListControls md-list-item .md-list-item-inner>p,
	.listdemoListControls md-list-item .md-list-item-inner>.md-list-item-inner>p
	{
	-webkit-user-select: none;
	/* Chrome all / Safari all */
	-moz-user-select: none;
	/* Firefox all */
	-ms-user-select: none;
	/* IE 10+ */
	user-select: none;
	/* Likely future */
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 200px;
	height: 100px;
	text-align: center;
	padding-top: 25px;
	margin: 10px;
}

.dragover {
	border: 5px dashed blue;
}

.dialog {
	width: 500px;
}

.dialogImport {
	min-width: 500px;
}

.md-content.md-default-theme, md-content {
	background-color: transparent;
}

.page {
	background-color: white;
	height: 85%;
	margin: 10px;
	border: 2px;
	border-radius: 5px;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.page-tab {
	border-radius: 10px;
	padding: 6px;
	max-width: 480px;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
}

li {
	border-bottom: 1px solid #ccc;
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	white-space: normal;
}

li:last-child {
	border-bottom-width: 0;
}

.item-title, .item-metadata {
	display: block;
	line-height: 2;
}

.item-title md-icon {
	height: 18px;
	width: 18px;
}

/* 
 * The bar:
 */
md-switch.md-checked .md-bar {
	background-color: green;
	/* set selected bar color */
}

md-switch[disabled] .md-bar {
	background-color: green;
	/* set disabled bar color */
}

/* 
 * The switch:
 */
md-switch.md-checked .md-thumb {
	background-color: rgb(255, 255, 255);
	/* selected switch color */
}

md-switch[disabled] .md-thumb {
	background-color: rgb(255, 255, 255);
	/* disabled switch color */
}

/* 
 * Ripple effect
 */
md-switch .md-ink-ripple {
	color: rgb(255, 0, 0);
	/* not selected switch ripple color */
}

md-switch.md-checked .md-ink-ripple {
	color: rgb(92, 184, 92);
	/* selected switch ripple color */
}


.md-1-line:hover {
	background: #F2F2F2;
}