<form ng-submit="selectUpdateUser(mobileUserData.name)">
    <md-autocomplete md-item-text="item.displayName" md-search-text="mobileUserData.name"
        md-items="item in querySearch(mobileUserData.name)" placeholder="Username" md-selected-item-change="selectUpdateUser(mobileUserData.name)">
        <md-item-template>
            <span md-highlight-text="mobileUserData.name" md-highlight-flags="^i">{{item.displayName}}</span>
        </md-item-template>
    </md-autocomplete>
</form>

<div layout-gt-sm="row">
	<md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="addContractView">
	    neuer Vertrag
	</md-switch>
	<md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="addHandyView">
	    neues Handy
	</md-switch>
</div>

<md-tabs md-dynamic-height="" md-dynamic-width="" md-border-bottom="">
 <md-tab ng-if="addContractView" label="Vertrag">
	 <div layout-gt-sm="row">
		 <md-input-container flex="50">
		        <label>Vertrag</label>
		        <md-select ng-Model="mobileUserData.contract" name="favoriteColor" ng-model="favoriteColor">
		            <md-option readonly ng-repeat="contract in contractList" value="{{contract}}">{{ contract.name }}</md-option>
		        </md-select>
		 </md-input-container>
		 <md-input-container class="md-block" flex="50" flex-gt-sm>
		    <label>Nummer</label>
		    <input ng-model="mobileUserData.number">
		 </md-input-container>
	 </div>
	 <md-input-container class="md-block" flex-gt-sm>
	    <label>Vertragsbeginn</label>
	    <input ng-model="addContract.contractDate">
	 </md-input-container>
	 <md-input-container class="md-block" flex-gt-sm>
	    <label>Simkarte</label>
	    <input ng-model="mobileUserData.sim">
	 </md-input-container>
	 <div layout-gt-sm="row">
		 <md-input-container class="md-block" flex-gt-sm>
		    <label>Pin</label>
		    <input ng-model="mobileUserData.pin">
		 </md-input-container>
		 <md-input-container class="md-block" flex-gt-sm>
		    <label>Puk</label>
		    <input ng-model="mobileUserData.puk">
		 </md-input-container>
	 </div>
	 <div layout-gt-sm="row">
		 <md-input-container class="md-block" flex-gt-sm>
		    <label>Ultra 1</label>
		    <input ng-model="mobileUserData.ultraOne">
		 </md-input-container>
		 <md-input-container class="md-block" flex-gt-sm>
		    <label>Ultra 2</label>
		    <input ng-model="mobileUserData.ultraTwo">
		 </md-input-container>
	 </div>    
 </md-tab>
 <md-tab ng-if="addHandyView" label="Handy">
   <div layout-gt-sm="row">
	 <md-input-container style="width: 100%">
	        <label>Handy</label>
	        <md-select ng-Model="mobileUserData.handy.handyModel" name="favoriteColor" ng-model="favoriteColor">
	            <md-option readonly ng-repeat="handyModel in handyModelList" value="{{handyModel}}">{{ handyModel.displayName }}</md-option>
	        </md-select>
	 </md-input-container>
	</div>
	
	
	<md-input-container class="md-block" flex-gt-sm>
	    <label>IMEI</label>
	    <input ng-model="mobileUserData.handy.imei">
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
	    <label>Lieferdatum</label>
	    <input ng-model="mobileUserData.handy.deliveryDate">
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
	 <label>Beschreibung</label>
	 <textarea ng-model="mobileUserData.handy.description" rows="5" md-select-on-focus></textarea>
	</md-input-container>
 </md-tab>
</md-tabs>


