<md-input-container class="md-block" flex-gt-sm>
    <label>Titel</label>
    <input ng-model="changelogInformation.title">
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
    <label>Hardware / Hostname</label>
    <input ng-model="changelogInformation.system">
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
    <label>Changelog</label>
    <textarea ng-model="changelogInformation.changelog" rows="5" md-select-on-focus></textarea>
</md-input-container>
