 
        <div layout-gt-sm="row" layout-align="space-between center">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Hostname</label>
                <input ng-model="hardwareInsert.hostname">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>IP</label>
                <input ng-model="hardwareInsert.ip">
            </md-input-container>
        </div>
        
        <div layout-gt-sm="row" layout-align="space-between center">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Betriebsystem</label>
                <input ng-model="hardwareInsert.bs">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Funktion</label>
                <input ng-model="hardwareInsert.description">
            </md-input-container>
        </div>
        
        <div layout-gt-sm="row" layout-align="space-between center">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Kategorie</label>
               <md-select ng-Model="hardwareInsert.categorie">
               <md-option ng-repeat="categorie in categorien" value="{{ categorie.name }}">{{categorie.name }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Standort</label>
            <md-select ng-Model="hardwareInsert.location">
               <md-option ng-repeat="location in LocationList" value="{{ location.lid }}">{{location.displayname }}</md-option>
            </md-select>
        </md-input-container>
        </div>

        <div layout-gt-sm="row" layout-align="space-between center">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Model</label>
                <input ng-model="hardwareInsert.model">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Serienummer</label>
                <input ng-model="hardwareInsert.sn">
            </md-input-container>
        </div>

        <div layout-gt-sm="row" layout-align="space-between center">
            <md-input-container flex-gt-sm>
                <label>CPU</label>
                <input ng-model="hardwareInsert.cpu">
            </md-input-container>
            <md-input-container flex-gt-sm>
                <label>Ram</label>
                <input ng-model="hardwareInsert.ram">
            </md-input-container>
        </div>
        
        <div layout-gt-sm="row" layout-align="space-between center">
	        <md-input-container flex-gt-sm>
	            <label>Verschluesselung Name</label>
	            <input ng-model="hardwareInsert.encodingname">
	        </md-input-container>
	        
	        <md-input-container flex-gt-sm>
	            <label>Verschlüsselung Key</label>
	            <input type="password" ng-model="hardwareInsert.encodingkey">
	        </md-input-container>
        </div>