<md-tabs md-dynamic-height="" md-dynamic-width="" md-border-bottom="">

    <md-tab ng-if="userDetails.view" label="User">
        <user-component data="userDetails">
    </md-tab>

    <md-tab ng-if="hardwareDetails.view" label="{{hardwareDetails.tabTitle}}">
        <hardware-component  data="hardwareDetails"/>
    </md-tab>

    <md-tab ng-if="hardwareActivDetails.view" label="{{hardwareActivDetails.tabTitle}}">
        <hardware-component  data="hardwareActivDetails"/>
    </md-tab>

    <md-tab ng-if="ownerDetails.view"  label="{{ownerDetails.tabTitle}}">
        <user-component data="ownerDetails">
    </md-tab>

    <md-tab ng-if="activUserDetails.view"  label="{{activUserDetails.tabTitle}}">
        <user-component data="activUserDetails">
    </md-tab>

    <md-tab ng-if="hardwareRentDetails.view" label="{{hardwareRentDetails.tabTitle}}">
        <hardware-component  data="hardwareRentDetails"/>
    </md-tab>

</md-tabs>