<div class="dialogImport">
	
	
	<md-tabs md-dynamic-height="" md-dynamic-width="" md-border-bottom="">
        <md-tab label="Hardware" >
         <div layout-gt-sm="row" layout-align="space-between center" style="padding:20px">
	 	   <div>
	        <div layout-gt-sm="row" layout-align="space-between center">
		      <div ngf-drop ngf-select ng-model="importHardwareFiles" class="drop-box"
			      ngf-drag-over-class="'dragover'" ngf-multiple="true"
			      ngf-allow-dir="true"> 
			      
			      Drag & Drop oder Click zum Upload
			 </div>
		     <div ngf-no-file-drop></div>
		     <ul>
         	  <li ng-repeat="f in importHardwareFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    	     </ul>
            </div>
	       </div>
	       <div></div>
	     </div>
        </md-tab>
        <md-tab label="Lizenz">
         <div layout-gt-sm="row" layout-align="space-between center" style="padding:20px">
	 	   <div>
	        <div layout-gt-sm="row" layout-align="space-between center">
		      <div ngf-drop ngf-select ng-model="importLizenzFiles" class="drop-box"
			      ngf-drag-over-class="'dragover'" ngf-multiple="true"
			      ngf-allow-dir="true"> 
			      
			      Drag & Drop oder Click zum Upload
			 </div>
		     <div ngf-no-file-drop></div>
		     <ul>
         	  <li ng-repeat="f in importLizenzFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    	     </ul>
            </div>
	       </div>
	       <div></div>
	     </div>
        </md-tab>
        <md-tab label="Mobile" ng-if="false">
         <div layout-gt-sm="row" layout-align="space-between center" style="padding:20px">
	 	   <div>
	        <div layout-gt-sm="row" layout-align="space-between center">
		      <div ngf-drop ngf-select ng-model="importMobileFiles" class="drop-box"
			      ngf-drag-over-class="'dragover'" ngf-multiple="true"
			      ngf-allow-dir="true"> 
			      
			      Drag & Drop oder Click zum Upload
			 </div>
		     <div ngf-no-file-drop></div>
		     <ul>
         	  <li ng-repeat="f in importMobileFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    	     </ul>
            </div>
	       </div>
	       <div></div>
	     </div>
        </md-tab>
    </md-tabs>
    
    <div layout-gt-sm="row" layout-align="space-between center">
		<div flex></div>
		<md-button ng-click="sendImport(importHardwareFiles, importLizenzFiles, importMobileFiles)">
            Upload
        </md-button>
	</div>
</div>
