<div class="dialog">
    <md-toolbar style="color:'green'">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Lizenz hinzufuegen</h2>
        </div>
    </md-toolbar>
    <div style="padding:5px">
        <div layout-gt-sm="row" layout-align="space-between center">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Lizenz</label>
                <input ng-model="userInformation.firstname">
            </md-input-container>
            <md-button type="submit" class="md-raised">Speichern</md-button>
        </div>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Lizenz Key</label>
            <input ng-model="userInformation.firstname">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Beschreibung</label>
            <input ng-model="userInformation.firstname">
        </md-input-container>
    </div>
</div>