<div style="padding:5px">
        
        <div class="layout-row">
        <div flex>
            <div layout-gt-sm="row" layout-align="space-between center">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Lizenz Name</label>
                    <input ng-model="lizenz.name">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Anzahl</label>
                    <input type="number" step="any"  ng-model="lizenz.allowamount" min="-1"  >
                </md-input-container>
            </div>

         <md-input-container class="md-block" flex-gt-sm>
            <label>Kategorie</label>
            <input ng-model="lizenz.categorie">
         </md-input-container>

         <md-input-container class="md-block" flex-gt-sm>
            <label>Reserviert</label>
            <input ng-model="lizenz.reserved">
         </md-input-container>
         <md-input-container class="md-block" flex-gt-sm>
          <label>Lizenz Key</label>
          <textarea ng-model="lizenz.key" rows="5" md-select-on-focus></textarea>
         </md-input-container>
        </div>
        
        <div flex ng-if="showLizenzHardwareView">
          <div class="layout-row " style="padding-left:10px;border-bottom: 5px solid #E6E6E6;">
                    <div flex="45" style="font-size:14px">{{translation.infoTable.hostname}}</div>
                    <div flex="55" style="font-size:14px">{{translation.infoTable.user}}</div>
          </div>
           
          <md-list ng-cloak>
                <md-list-item ng-repeat="hw in lizenzHostList" class="md-1-line">
                    <div flex="45" class="md-list-item-text" layout="column">
                        {{ hw.hostname }}
                    </div> 
                    <div flex="55" class="md-list-item-text" layout="column">
                        {{ hw.aktivUsername }}
                    </div> 
                </md-list-item>
          </md-list>
         </div>
        </div>
</div>