<div  class="layout-row">
    <div flex style="padding-top:20px;padding-left: 10;padding-right: 10">
        <md-input-container class="md-block" style="margin: 0">
            <label>Name</label>
            <input ng-model="abstractDialogData.lizenz.name">
        </md-input-container>

        <div layout-gt-sm="row" layout-align="space-between center" style="margin: 0">
            <md-input-container style="margin: 0">
                <label>Vergeben</label>
                <input type="number" ng-model="abstractDialogData.lizenz.vergeben">
            </md-input-container>
            <md-input-container style="margin: 0">
                <label>Verfügbar</label>
                <input type="number" ng-model="abstractDialogData.lizenz.verfuegbar" >
            </md-input-container>
            <md-input-container style="margin: 0">
                <label>Frei</label>
                <input type="number" step="any"  ng-model="abstractDialogData.lizenz.free" >
            </md-input-container>
        </div>

         <md-input-container style="margin: 0;width: 100%">
            <label>Kategorie</label>
            <input ng-model="abstractDialogData.lizenz.categorie">
         </md-input-container>

         <md-input-container style="margin: 0;width: 100%">
            <label>Reserviert</label>
            <input ng-model="abstractDialogData.lizenz.reserved">
         </md-input-container>

         <md-input-container style="margin: 0;width: 100%">
          <label>Lizenz Key</label>
          <textarea ng-model="abstractDialogData.lizenz.key" rows="5" md-select-on-focus></textarea>
         </md-input-container>
    </div>
        
    <div flex ng-if="abstractDialogData.showLizenzHardwareView">
      <div class="layout-row " style="padding-left:10px;border-bottom: 5px solid #E6E6E6;">
        <div flex="45" style="font-size:14px">{{translation.infoTable.hostname}}</div>
        <div flex="55" style="font-size:14px">{{translation.infoTable.user}}</div>
      </div>


        <md-list-item ng-repeat="hw in abstractDialogData.lizenzHostList" class="md-1-line">
            <div flex="45" class="md-list-item-text" layout="column" ng-click="abstractDialogData.openHardware(hw)">
                {{ hw.hostname }}
            </div>
            <div flex="55" class="md-list-item-text" layout="column">
                {{ hw.aktivUsername }}
            </div>
        </md-list-item>
    </div>
</div>