<div>
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="Activ Directory">
                <md-content class="md-padding">
                    <div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Host</label>
                            <input ng-model="getSelectedHardwareInformation.hostname" />
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>SSL</label>
                            <md-switch class="md-secondary" ng-model="config.create"> Aktiv </md-switch>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Bind User</label>
                            <input ng-model="getSelectedHardwareInformation.sn">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Bind PW</label>
                            <input ng-model="getSelectedHardwareInformation.cpu">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Interne User</label>
                            <input ng-model="getSelectedHardwareInformation.ram">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Interne Gruppen</label>
                            <input ng-model="getSelectedHardwareInformation.ram">
                        </md-input-container>

                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
        <md-button class="md-raised" md-colors="{color: 'green', 'border-color': 'primary-600'}">Save</md-button>
    </md-content>
</div>