<md-content ng-show="isNetzwerkVewaltungSelected">
        <div class="page">
                        
         <div layout-gt-sm="row" class="mainPage" layout-align="space-between center">
             
             <input flex-gt-sm class="css-input" placeholder="Search..." ng-model="searchHostClient" ng-change="setClientsPage()">
             
             <md-input-container flex-gt-sm style="max-width:300px" ng-show="{{systemVerwaltung}}" >
                <label>{{translation.default.location}}</label>
                <md-select aria-label="ShowHideAccountant" ng-Model="showLocation" ng-change="setLocationPage()">
                 <md-option ng-repeat="location in LocationList" value="{{ location.lid }}">{{location.displayname }}
                 </md-option>
                </md-select>
             </md-input-container> 
          </div>
          
          <div class="mainPageShow"> 
            <md-checkbox md-no-ink ng-model="showAllClients"  ng-change="setClientsPage()" class="md-primary mainPageShow" >
                {{translation.default.showAll}}		
            </md-checkbox>
           </div>
            
           <div class="layout-row " style="padding-left:10px;border-bottom: 5px solid #E6E6E6;">
           			<div flex="5" style="font-size:14px">Status</div>
                    <div flex="10" style="font-size:14px">{{translation.infoTable.hostname}}</div>
                    <div flex="10" style="font-size:14px">{{translation.infoTable.user}}</div>
                    <div flex style="font-size:14px">{{translation.infoTable.hardwareInfo}}</div>
           </div>
           
           <md-list ng-cloak>
                <md-list-item ng-repeat="hw in ctrl.getNetzwerkHost('client')" ng-click="showHardwareInformation(hw.hid)" class="md-2-line">
                    <div  flex="5" class="md-list-item-text" layout="column">
                        <img width="25px" heigth="25px" src={{hw.aktivIcon}}></md-icon>
                    </div>
                    <div flex="10" class="md-list-item-text" layout="column">
                        <p style="color:black">{{ hw.hostname }}</p>
                        <p style="font-size:10px">{{ hw.ip }}</p>
                    </div>
                    <div flex="10" class="md-list-item-text" layout="column">
                        <p style="color:black">{{ hw.owner }}</p>
                        <p style="font-size:10px">{{ hw.activUser }}</p>
                    </div>
                    <div flex="30" class="md-list-item-text" layout="column">
                        <p style="color:black">{{ hw.model }}</p>
                        <p style="font-size:10px">{{ hw.sn }}</p>
                    </div>
                    <div flex="40" class="md-list-item-text" layout="column">
                        <p style="color:black">{{ hw.cpu }}</p>
                        <p style="font-size:10px">{{ hw.ram }}</p>
                    </div>
                    <div flex="5" class="md-list-item-text" layout="column">
                     <md-button width="15" aria-label="ShowHideAccountant" ng-click="delHardware(hw)" >
						<img width="15px" heigth="15px" src="/NetView/static/img/DeleteIcon.png"></md-icon>
					 </md-button>
                    </div> 
                </md-list-item>
           </md-list>
            
           <div ng-show="hardwareClientViewPages">
            <hr />
            <div class="ng-scope layout-row " style="padding-left:10px">
                    <div flex="10" class="flex "><md-button class="md-raised" style="margin-bottom:10px" ng-click="prevPage('client')" md-colors="{color: 'green'}">Prev</md-button></div>
                    <div flex="80" style="vertical-align: middle;text-align:center"><h3>Seite {{clientPage}} von {{clientMaxPage}}</h3></div>
                    <div flex="10 " class="flex "><md-button class="md-raised" style="margin-bottom:10px" ng-click="nextPage('client')" md-colors="{color: 'green'}">Next</md-button></div>
            </div>
           </div>
    	</div>
</md-content>