<md-content ng-show="isLizenzVewaltungSelected">
        <div class="page">
                
            
            <div layout-gt-sm="row" class="mainPage" layout-align="space-between center">
             
             <input flex-gt-sm class="css-input" placeholder="Search..." ng-model="searchLizenz" ng-change="setHardwarePage()">
             
             <md-input-container flex-gt-sm style="max-width:150px;margin-right:25px">
                <label>{{translation.infoTable.use}}</label>
                <md-select aria-label="ShowHideAccountant" ng-Model="showAllUsed" ng-change="setLizenzPage()">
                 <md-option ng-repeat="use in useList" value="{{ use.name }}">{{use.name }}
                 </md-option>
                </md-select>
             </md-input-container>
            </div>
            
            <div style="background:#084B8A;color:#ffffff;padding:5px;margin:0 0 15 0">
		 	<div class="ng-scope layout-row " style="height: 23px">
			 <div style="padding-right: 10px; padding-left: 10px; font-size: 14px">Seite	{{lizenzPage}} von {{lizenzMaxPage}} (Anzahl: {{lizenzPageAmount}})</div>
			 <button class="buttonView buttonViewPrev" ng-click="prevPage('lizenz')">Prev</button>
			 <button class="buttonView buttonViewNext" ng-click="nextPage('lizenz')">Next</button>
			 <label style="padding-right: 10px; padding-left: 10px; font-size: 14px">Anzahl pro Seite: 
			   <select ng-Model="lizenzRows">
					<option ng-repeat="rows in hardwareRowsList" value="{{ rows.value }}">{{rows.value}}</option>
			   </select>
			 </label>
			</div>
           </div>
            <div class="ng-scope layout-row " style="padding-left:10px;border-bottom: 5px solid #E6E6E6;">
                    <div flex="20" style="font-size:14px">{{translation.infoTable.lizenzName}}</div>
                    <div flex="10" style="font-size:14px">{{translation.infoTable.categorie}}</div>
                    <div flex="10" style="font-size:14px">{{translation.infoTable.use}}</div>
                    <div flex style="font-size:14px">{{translation.infoTable.key}}</div>
            </div>
                
            <md-list ng-cloak>
                <md-list-item ng-repeat="lizenz in ctrl.getLizenz()" ng-click="showLizenzInformation(lizenz)" class="md-1-line">
                    <div flex="20" class="md-list-item-text flex" layout="column">
                        {{ lizenz.name }}
                    </div>
                    <div flex="10" class="md-list-item-text flex" layout="column">
                        {{ lizenz.categorie }}
                    </div>
                    <div flex="10" class="md-list-item-text flex" layout="column">
                        {{ lizenz.stateInfo }}
                    </div>
                    <div class="md-list-item-text flex" layout="column">
                        {{ lizenz.key }}
                    </div>
                    <div flex="5" class="md-list-item-text" layout="column">
                     <md-button class="md-icon-button" width="25" aria-label="ShowHideAccountant" ng-click="delLizenz(lizenz, $event)" >
						<img width="15px" heigth="15px"	src="/NetView/static/img/papierkorb.png"></md-icon>
					 </md-button>
                    </div> 
                </md-list-item>
            </md-list>
        </div>
    </md-content>