        
        <div layout="row" layout-wrap >
        
           <md-menu-bar flex class="menueLeiste">
        	 
                <img src="/NetView/static/img/reservix.jpg" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img>        
                <md-menu>
                    <div ng-click="$mdMenu.open()" class="menue" >
                        {{translation.menue.go}}
                    </div>
                    <md-menu-content>
                        <md-menu-item ng-if="security.settings" >
                            <md-button ng-click="selectMenu('showSettings')">
                                <img src="/NetView/static/img/setting.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.settings}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="showImport()">
                                <img src="/NetView/static/img/Upload.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.import}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="logout()">
                            <img src="/NetView/static/img/logout.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.logout}}
                            </md-button> 
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu ng-if="security.verwaltung">
                    <div ng-click="$mdMenu.open()" class="menue">
                        {{translation.menue.org}}
                    </div>
                    <md-menu-content>
                    	<md-menu-item ng-if="security.verwaltungConfig.clients">
                            <md-button ng-click="selectMenu('showClients')">
                                <img src="/NetView/static/img/Hardware.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.shortcurt.clients}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="security.verwaltungConfig.netz">
                            <md-button ng-click="selectMenu('showServer')">
                                <img src="/NetView/static/img/Hardware.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.shortcurt.netz}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="security.verwaltungConfig.mobile">
                            <md-button ng-click="selectMenu('showMobile')">
                                <img src="/NetView/static/img/Hardware.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> Mobilefunk liste
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="security.verwaltungConfig.lizenz">
                            <md-button ng-click="selectMenu('showLizenz')">
                                <img src="/NetView/static/img/Lizenz.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.shortcurt.lizenz}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item ng-if="security.verwaltungConfig.addHardware">
                            <md-button ng-click="selectMenu('serverAdd')">
                                <img src="/NetView/static/img/addHardware.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.addHardware}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="security.verwaltungConfig.addLizenz">
                            <md-button ng-click="selectMenu('lizenzAdd')">
                                <img src="/NetView/static/img/addLizenz.png" width="20px" height="20px"  style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.addLizenze}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="security.verwaltungConfig.addLizenz">
                            <md-button ng-click="selectMenu('mobileUserAdd')">
                                <img src="/NetView/static/img/addLizenz.png" width="20px" height="20px"  style="vertical-align:middle;margin-right:10px"></img> Mobile User hinzufuegen
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu ng-if="security.user">
                    <div ng-click="$mdMenu.open()" class="menue">
                        {{translation.menue.user}}
                    </div>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="selectMenu('showUser')">
                                <img src="/NetView/static/img/user.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.showUser}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider ng-if="false"></md-menu-divider>
                        <md-menu-item  ng-if="security.userConfig.addUser">
                            <md-button ng-click="selectMenu('showCreateUser')">
                                <img src="/NetView/static/img/AddUserIcon.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.addUser}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item  ng-if="security.userConfig.deleteUser">
                            <md-button ng-click="selectMenu('showUpdateUser')">
                                <img src="/NetView/static/img/UpdateUserIcon.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.refreshUser}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item   ng-if="security.userConfig.updateUser">
                            <md-button ng-click="selectMenu('showDeleteUser')">
                                <img src="/NetView/static/img/DellUserIcon.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.delUser}}
                            </md-button>
                        </md-menu-item>
                      </md-menu-content>
                </md-menu>
                <md-menu class="menue" ng-if="false">
                    <div ng-click="$mdMenu.open()" >
                        {{translation.menue.data}}
                    </div>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="selectMenu('showVorlagen')">
                                {{translation.menue.controlSubmittals}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="selectMenu('showLaptops')">
                                {{translation.menue.controlLaptops}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="selectMenu('schowLocation')">
                                {{translation.menue.controlLocation}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="selectMenu('showHandy')">
                                {{translation.menue.controlHandy}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="selectMenu('showDepartment')">
                                {{translation.menue.controlDepartement}}
                            </md-button>
                        </md-menu-item>
                       </md-menu-content>
                  </md-menu>
                  <md-menu  ng-if="security.software">
                    <div ng-click="$mdMenu.open()" class="menue">
                        {{translation.menue.software}}
                    </div>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="selectMenu('showSoftware')">
                                Software Verwaltung
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="selectMenu('showLaptops')">
                                {{translation.menue.addSoftware}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="selectMenu('schowLocation')">
                                {{translation.menue.delSoftware}}
                            </md-button>
                        </md-menu-item>
                       </md-menu-content>
                </md-menu>
            </md-menu-bar>
            <md-menu-bar flex class="menueLeiste"></md-menu-bar>
            
            
            <md-menu-bar class="menueLeiste">
            	    
               
                <md-menu>
                    <div class="menue" ng-click="selectMenu('showSettings')" >
                        <img src="/NetView/static/img/setting-white.png" width="15px" height="15px" style="vertical-align:middle;margin-right:5px"></img>
                    </div>
                </md-menu>
                <md-menu>
                    <div class="menue" ng-click="logout()">
                        <img src="/NetView/static/img/logout-white.png" width="15px" height="15px" style="border-radius:5px 15%;vertical-align:middle;margin-right:5px"></img>
                    </div>
                </md-menu>
                
            </md-menu-bar>
            
            </div>