<md-content >
<div class="page">

	<div layout-gt-sm="row" class="mainPage"
		layout-align="space-between center">

		<input flex-gt-sm class="css-input" placeholder="Suchen..."	ng-model="searchMobile" ng-change="setMobilePage()">

	</div>

	<div style="background: #084B8A; color:#ffffff; padding: 5px; margin: 0 0 15 0">
		<div class="ng-scope layout-row " style="height: 23px">
			<div style="padding-right: 10px; padding-left: 10px; font-size: 14px">Seite
				{{mobilePage}} von {{mobileMaxPage}} (Anzahl: {{aktivMobileShow}})</div>
			<button class="buttonView buttonViewPrev"
				ng-click="prevPage('mobile')">Prev</button>
			<button class="buttonView buttonViewNext"
				ng-click="nextPage('mobile')">Next</button>
			<label
				style="padding-right: 10px; padding-left: 10px; font-size: 14px">Anzahl
				pro Seite: <select ng-Model="mobileRows">
					<option ng-repeat="rows in hardwareRowsList" value="{{rows.value}}">{{rows.value}}</option>
			</select>
			</label>
		</div>

	</div>

	<div layout="row" layout-wrap style="padding-left: 10px; border-bottom: 5px solid #E6E6E6;">
		<div flex="20" style="font-size: 14px">Name</div>
		<div flex="20" style="font-size: 14px">Handy</div>
		<div flex="20" style="font-size: 14px">Sim</div>
		<div flex="20" style="font-size: 14px">Ultracard</div>
	</div>


	<md-list ng-cloak> <md-list-item
		ng-repeat="mobile in ctrl.getMobile()"
		ng-click="showMobileInformation(mobile.mid)" class="md-2-line">

	<div flex="100" layout="row" layout-wrap>


		<div flex="20" style="font-size: 14px">
			<div class="md-list-item-text" layout="column">
				<p style="color:black">{{ mobile.name }}</p>
				<p style="font-size: 10px">{{ mobile.number }}</p>
			</div>
		</div>

		<div flex="20" style="font-size: 14px">
			<div class="md-list-item-text" layout="column">
				<p style="color:black">{{ mobile.handy.handyModel.displayName }}</p>
				<p style="font-size: 10px">{{ mobile.handy.imei }}</p>
			</div>
		</div>

		<div flex="20" style="font-size: 14px">
			<div class="md-list-item-text" layout="column">
				<p style="color:black">{{  mobile.sim }}</p>
				<p style="font-size: 10px">{{  mobile.pin }}</p>
			</div>
		</div>

		<div flex="20" style="font-size: 14px">
			<div class="md-list-item-text" layout="column">
				<p style="color:black">{{ mobile.ultraOne }}</p>
				<p style="font-size: 10px">{{ mobile.ultraTwo }}</p>
			</div>
		</div>


		<div flex></div>
		<div flex="none" style="font-size: 14px">
			<div class="md-list-item-text" layout="column">
				<md-button class="md-icon-button" ng-click="delHardware(hw)">
				<img width="15px" heigth="15px"
					src="/NetView/static/img/papierkorb.png"> </md-icon> </md-button>
			</div>
		</div>
	</div>

	</md-list-item> </md-list>


</div>
</md-content>