<md-content ng-show="isServerVerwaltungSelected">
        <div class="page">        	        	
        	<div layout-gt-sm="row" class="mainPage" layout-align="space-between center">
             
             <input flex-gt-sm class="css-input" placeholder="Search..." ng-model="searchHostServer" ng-change="setHardwarePage()">
             
             <md-checkbox md-no-ink ng-model="showAllClients"  ng-change="setClientsPage()" class="md-primary" >
                {{translation.default.showAll}}		
             </md-checkbox>
              
          </div>
            
            <div class="ng-scope layout-row " style="padding-left:10px;border-bottom: 5px solid #E6E6E6;">
            	<div flex="5" style="font-size:14px">Status</div>
                <div flex="10 " style="font-size:14px">{{translation.infoTable.hostname}}</div>
                <div flex="40" style="font-size:14px">{{translation.infoTable.hardwareInfo}}</div>
                <div flex="40" style="font-size:14px">{{translation.infoTable.hardwareDescription}}</div>
            </div>
            
            <md-list ng-cloak>
                <md-list-item ng-repeat="hw in ctrl.getNetzwerkHost('server', serverVerwaltungSelectedLocation)"  ng-click="showHardwareInformation(hw.hid)" class="md-2-line">
                    <div flex="5" class="md-list-item-text" layout="column">
                        <img width="25px" heigth="25px" src={{hw.aktivIcon}}></md-icon>
                    </div>
                    <div flex="10" class="md-list-item-text" layout="column">
                        <h3>{{ hw.hostname }}</h3>
                        <h4>{{ hw.ip }}</h4>
                    </div>
                    <div flex="40" class="md-list-item-text" layout="column">
                        <h3>{{ hw.model}}</h3>
                        <h4>{{ hw.sn }}</h4>
                    </div>
                    <div flex="40" class="md-list-item-text" layout="column">
                        <h3>{{ hw.description}}</h3>
                        <h4>{{ hw.bs }}</h4>
                    </div>
                    <div flex="5" class="md-list-item-text" layout="column">
                     <md-button width="25" aria-label="ShowHideAccountant" ng-click="delHardware(hw)" >
						<img width="15px" heigth="15px" src="/NetView/static/img/DeleteIcon.png"></md-icon>
					 </md-button>
                    </div> 
                </md-list-item>
            </md-list>
            
            <div ng-show="hardwareServerViewPages">
            <hr />
            <div class="ng-scope layout-row " style="padding-left:10px">
                    <div flex="10" ng-show="false" class="flex "><md-button class="md-raised" style="margin-bottom:10px" ng-click="prevPage('hardware')" md-colors="{color: 'green'}">Prev</md-button></div>
                    <div flex="80" style="vertical-align: middle;text-align:center"><h3>Seite {{hardwarePage}} von {{hardwareMaxPage}}</h3></div>
                    <div flex="10" class="flex "><md-button class="md-raised" style="margin-bottom:10px" ng-click="nextPage('hardware')" md-colors="{color: 'green'}">Next</md-button></div>
            </div>
            </div>
        </div>
    </md-content>