<div layout-gt-sm="row" class="shortcut">
 		<div layout-gt-sm="row" >
            <md-button ng-click="selectMenu('showUser')">
               <img src="/NetView/static/img/user.png" class="shortcutImg"></img> <span style="color:{{selectedUserColor}}">{{translation.menue.showUser}}</span>
            </md-button>
            <md-button ng-show="{{systemVerwaltung}}" title="{{translation.shortcurt.clients}}" ng-click="selectMenu('showClients')">
                <img src="/NetView/static/img/ClientsIcon.png" class="shortcutImg"></img><span style="margin-left:10px;color:{{selectedHardwareColor}}">{{translation.shortcurt.clients}}</span>
            </md-button>
      		<md-button ng-click="selectMenu('showServer')">
               <img  src="/NetView/static/img/server.png" class="shortcutImg"></img><span style="margin-left:10px;color:{{selectedServerColor}}">{{translation.shortcurt.netz}}</span>
            </md-button>
            <md-button ng-click="selectMenu('showSoftware')">
               <img src="/NetView/static/img/user.png" class="shortcutImg"></img><span style="margin-left:10px;color:{{selectedSoftwareColor}}">{{translation.menue.software}}</span>
            </md-button>
      		<md-button  ng-click="selectMenu('showLizenz')">
               <img src="/NetView/static/img/License.png" class="shortcutImg"></img><span style="margin-left:10px;color:{{selectedLizenzColor}}">{{translation.shortcurt.lizenz}}</span>
            </md-button>
		</div>
		<div layout-gt-sm="row" flex >
            <div flex></div>
            <md-button class="md-raised" ng-if="false" ng-click="selectMenu('showDeleteUser')">
              <img src="/NetView/static/img/DellUserIcon.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.delUser}}
            </md-button>
            <md-button class="md-raised" ng-if="false" ng-click="selectMenu('showCreateUser')">
               <img src="/NetView/static/img/AddUserIcon.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.addUser}}
            </md-button>
            <md-button class="md-raised" ng-if="false" ng-click="selectMenu('showUpdateUser')">
               <img src="/NetView/static/img/UpdateUserIcon.png" width="20px" height="20px" style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.refreshUser}}
            </md-button>
            <div>
            	<img ng-if="isNetzwerkVewaltungSelected || isServerVerwaltungSelected" width="20px" height="20px" src="/NetView/static/img/AddHardware.png" ></img> 
            </div>
            <md-button class="md-raised" ng-if="isLizenzVewaltungSelected" ng-click="selectMenu('lizenzAdd')">
               <img src="/NetView/static/img/AddLicense.png" width="20px" height="20px"  style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.addLizenze}}
            </md-button>
            <md-button class="md-raised" ng-if="isSoftwareSelected" ng-click="ctrl.softwareService.addSoftware()">
               <img src="/NetView/static/img/AddLicense.png" width="20px" height="20px"  style="vertical-align:middle;margin-right:10px"></img> {{translation.menue.addSoftware}}
            </md-button>
         </div>
</div>