<md-content class="md-padding" style="height:75%">
    <div layout="column">
        <div flex="8">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Username</label>
                    <input ng-model="user.username">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>eMail</label>
                    <input ng-model="user.email">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Password</label>
                    <input type="password"  ng-model="user.password">
                </md-input-container>

                <div>
                    <md-button class="md-raised" ng-click="userService.addUser(user)">Speichern</md-button>
                </div>

            </div>
        </div>

        <div flex class="md-list-item-text" >
            <div class="page">

                <div layout-gt-sm="row" class="mainPage" layout-align="space-between center">
                    <input flex-gt-sm class="css-input" placeholder="Suchen..."	ng-model="searchHostClient" ng-change="setClientsPage()">
                </div>

                <div style="background: #084B8A; color:#ffffff; padding: 5px; margin: 0 0 15 0">
                    <div class="ng-scope layout-row " style="height: 23px">
                        <div style="padding-right: 10px; padding-left: 10px; font-size: 14px">Seite
                            {{clientPage}} von {{clientMaxPage}} (Anzahl: {{aktivClientsShow}})</div>
                        <button class="buttonView buttonViewPrev"
                                ng-click="prevPage('client')">Prev</button>
                        <button class="buttonView buttonViewNext"
                                ng-click="nextPage('client')">Next</button>
                        <label
                                style="padding-right: 10px; padding-left: 10px; font-size: 14px">Anzahl
                            pro Seite: <select ng-Model="clientsRows">
                                <option ng-repeat="rows in hardwareRowsList" value="{{rows.value}}">{{rows.value}}</option>
                            </select>
                        </label>
                    </div>

                </div>


                <div class="ng-scope layout-row " style="padding-left:10px;border-bottom: 5px solid #E6E6E6;">
                    <div flex="20" style="font-size: 14px">Name</div>
                    <div flex="20" style="font-size: 14px">eMail</div>
                </div>


                <md-list ng-cloak>

                    <md-list-item ng-repeat="user in userService.getUsers()" ng-click="userService.showUser(user)" class="md-1-line">

                            <div flex="20" style="font-size: 14px">
                                <p style="color: black">{{ user.username }}</p>
                            </div>
                            <div flex="20" style="font-size: 14px">
                                <p style="color: black">{{ user.email }}</p>
                            </div>
                            <div flex></div>

                            <div flex="none" style="font-size: 14px">
                                <div class="md-list-item-text" layout="column">
                                    <md-button class="md-icon-button" ng-click="delHardware(hw)">
                                        <img width="15px" heigth="15px"	src="/NetView/static/img/papierkorb.png"> </md-icon>
                                    </md-button>
                                </div>
                            </div>

                            <div flex="none" style="font-size: 14px">
                                <div class="md-list-item-text" layout="column">
                                    <md-button class="md-icon-button" ng-click="delHardware(hw)">
                                        <img width="15px" heigth="15px"	src="/NetView/static/img/papierkorb.png"> </md-icon>
                                    </md-button>
                                </div>
                            </div>
                    </md-list-item>
                </md-list>

            </div>
        </div>
    </div>
</md-content>