<h2>Berechtigungen</h2>

<div layout-gt-sm="row">
    <md-checkbox style="padding-left: 5px" md-no-ink aria-label="Checkbox No Ink" ng-model="addUserWizardData.permission.reservixIntern"
                 class="md-primary">
        Reservix Intern
    </md-checkbox>
</div>
<div layout-gt-sm="row">
    <md-checkbox style="padding-left: 5px" md-no-ink aria-label="Checkbox No Ink" ng-model="addUserWizardData.permission.reservixExtern"
                 class="md-primary">
        Reservix Extern
    </md-checkbox>
</div>
<div layout-gt-sm="row">
    <md-checkbox style="padding-left: 5px" md-no-ink aria-label="Checkbox No Ink" ng-model="addUserWizardData.permission.confluence"
                 class="md-primary">
        Confluence
    </md-checkbox>
</div>
<div layout-gt-sm="row">
    <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="addUserWizardData.permission.jira"
                 class="md-primary">
        Jira
    </md-checkbox>
</div>