<md-content class="md-padding" style="height:70%">
    <div layout="column">
        <div flex="8">
            <div layout-gt-sm="row">

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Display Name</label>
                    <input ng-model="department.displayname">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Abteilung</label>
                    <input ng-model="department.name">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Possition</label>
                    <input ng-model="department.position">
                </md-input-container>

                <div>
                    <md-button class="md-raised" ng-click="addHandyModel()">Speichern</md-button>
                </div>
            </div>
        </div>
        <div flex class="md-list-item-text" >
            <div my-mobilephoneview></div>
        </div>
    </div>
</md-content>