   <md-content flex layout-padding>
        <md-tabs md-dynamic-height md-border-bottom>
	      <md-tab label="Handy" ng-if="false">
              <div my-settingsDataHandyInput></div>
	      </md-tab>
            <md-tab label="Handy Verträge" ng-if="false">
              <div my-settingsDataContractInput></div>
	      </md-tab>
            <md-tab label="Abteilung">
                <div my-settingsDataContractInput></div>
            </md-tab>
            <md-tab label="Standort">
                <div my-settingsDataContractInput></div>
            </md-tab>
        </md-tabs>

      <div flex></div>

    </md-content>