<html>
<head>
    <meta charset="utf-8">
    <style>

        #spalte {
            width: 200px;
        }

    </style>
</head>
<body>
<h2>Neuer Mitarbeiter</h2>
<table>
    <tr>
        <td id="spalte">Vorname:</td>
        <td>firstname</td>
    </tr>
    <tr>
        <td  id="spalte">Nachname:</td>
        <td>lastname</td>
    </tr>
    <tr>
        <td  id="spalte">E-Mail:</td>
        <td>mail</td>
    </tr>
    <tr>
        <td  id="spalte">Telefonnummer:</td>
        <td>phone</td>
    </tr>
    <tr>
        <td>Mobile:</td>
        <td>mobile</td>
    </tr>
</table>

</body>
</html>
