<!DOCTYPE html>
<html lang="en" style="">

<head>

    <style>
        html, body{
            height: 100%;
            background: linear-gradient(to bottom right, #EDEDED, #2F2F2F);
        }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <title>React App</title>
</head>

<body>
<div id="Nav"></div>
<div id="App"></div>
<div id="myList"></div>


<script src="../../main.js"></script>
</body>

</html>