<!DOCTYPE html>
<html lang="en" style="">

<head>

    <style>
        body, html {
            height: 100%;
            width: 100%;
        }

    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <title>React App</title>
</head>

<body>

<div id="Nav"></div>
<div id="App"></div>
<div id="myList"></div>

<script src="index.js"></script>
</body>

</html>